@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ol,
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  input {
    outline: none;
  }
}